{{!-- Ahora, cómo creó un partials? A: Pues es igual, Vamos a crear un nuevo archivo. header.hbs. Vamos a regresar
nuestro 'home,hbs' y a cortar todo el HTML del <header></header> que lleva ahí en el home.hbs y lo vamos a pegar en el
archivo header.hbs de nuestro partials: --}}

<header id="header">
    <div class="logo"><a href="/">{{ titulo }}<span>{{ nombre }}</span></a></div>
    <a href="#menu"><span>Menu</span></a>
</header>